#group-new-h1 {
  margin: 13px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #2B3A67;
}


.create-group {
  margin: 0 auto;
  margin-top: 12px;
  width: 330px;
  padding: 10px;

  .friends-invite {
    width: 300px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 1px solid #2B3A67;
    border-radius: 26px;
    padding: 7px 10px;
    color: white;
    background-color: #2B3A67;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .group-avatar {
    width: 30px;
    height: 30px;
  }

  #group-btn {
    margin-top: 32px;
    background-color: $success;
    border: 1px solid $success;
    border-radius: 7px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1);
    text-decoration: none;
    padding: 10px 25px;
    transition: 0.02s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  #group-btn:active {
    background-color: $success;
    border: 2px solid white;
    transform: scale(1.02);
  }

  #new_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.groups-new-h3 {
  color: #2B3A67;
  font-size: 18px;
  text-align: center;
}
