#group-new-h1 {
  margin: 13px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #2B3A67;
}


.create-group {
  margin: 0 auto;
  margin-top: 12px;
  width: 330px;
  padding: 10px;

  .friends-invite {
    width: 290px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 1px solid #2B3A67;
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
    background-color: #2B3A67;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  }

  .group-avatar {
    width: 30px;
    height: 30px;
  }

  #group-btn {
    margin: 0 auto;
    margin-top: 10px;
    background-color: $success;
    border: 1px solid $success;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.02s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  }

  #group-btn:active {
    background-color: $success;
    border: 2px solid white;
    transform: scale(1.02);
  }

  #new_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
