#group-new-h1 {
  margin: 13px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #2B3A67;
}


.create-group {
  margin: 0 auto;
  margin-top: 12px;
  width: 330px;
  padding: 10px;

  .friends-invite {
    width: 290px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 1px solid #2B3A67;
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
    background-color: #2B3A67;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  }

  .group-avatar {
    width: 30px;
    height: 30px;
  }

  #group-btn {
    margin: 0 auto;
    margin-top: 10px;
    background-color: $success;
    border: 1px solid $success;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.02s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  }

  #group-btn:active {
    background-color: $success;
    border: 2px solid white;
    transform: scale(1.02);
  }

  #new_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// .toggle {
//   position: absolute;
//   transform: scale(0);
// }

// .toggle + label {
//   position: relative;
//   display: inline-block;
//   padding-left: 40px;
// }

// .toggle + label::before {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 36px;
//   height: 20px;
//   top: 0;
//   left: 0;
//   background-color: #EAEAEA;
//   border-radius: 50rem;
// }

// .toggle:checked + label::before {
//   background-color: #1EDD88;
// }

// .toggle + label::after {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 16px;
//   height: 16px;
//   top: 2px;
//   left: 2px;
//   background-color: white;
//   border-radius: 50%;
//   transition: left 0.2s ease;
// }

// ASK JON - TOGGLE
