#landing-container {
  background-color: #2b3a67;
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  h5 {
    margin-top: 13px;
    font-size: 11px;
    color:#00e070;
  }

  img {
    margin-left: 25px;
    top: 240px;
    position: absolute;
  }

  p {
    font-size: 13px;
    color: white;
  }

  #p1 {
    margin-top: 20px;
  }

  #p2 {
    margin-bottom: 30px;
  }

  #landing-btn {
    background-color: #00e070;
    border: 1px solid #00e070;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.02s;
  }

  #landing-btn:focus {
    background-color: #00e070;
    border: 2px solid white;
    transform: scale(1.02);
  }
}
