<div class="navbar-space"></div>
<%= render "shared/navbar" %>
<h1><%= @chatroom.name %></h1>
<div class="chatbox-container"></div>
  <%= render "chatbox", chatroom: @chatroom, message: @message, group: @group %>
</div>

<!-- HEROKU needs to install redis. Check the lecture notes on Chat-->

<div class="footer-space"></div>

<div class="footer-musicmates">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class="fa-solid fa-house"></i></a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class="fa-solid fa-clipboard-list"></i></a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class="fa-solid fa-user"></i></a>
</div>
