<div class="navbar-space"></div>
  <h1><%= @chatroom.name %></h1>
  <div class="chatbox-show">
    <%= render "chatbox", chatroom: @chatroom, message: @message, group: @group %>
  </div>

<!-- HEROKU needs to install redis. Check the lecture notes on Chat-->
