<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/concerts", class: "navbar-brand" do %>
      <%= image_tag "LOGO.png", height: 50 %>
    <% end %>
  </div>
</div>
