  <div class="search-bar">
  <%= form_with url: concerts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Explore upcoming gigs"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
    </div>
  <% end %>
