  <div class="search-bar">
  <%= form_with url: path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: placeholder
    %>
    <%= image_submit_tag("icons8-search-30.png", class: "btn btn-flat") %>
    </div>
  <% end %>
