<div id="landing-container">
  <%=image_tag "logo.jpg", width: 350 %>
  <p id="p1">Mingle with your <strong>MATES</strong></p>
  <p id="p2">Find concerts for your <strong>MUSIC</strong>.</p>
  <p>Be a <strong>MUSIC MATE</strong></p>
  <%= link_to "Login with Spotify", "#", id:"landing-btn" %>
  <h5>*Spotify account required for MusicMates.</h5>
</div>
