<div id="landing-container">
  <%=image_tag "logo.jpg", width: 350 %>
  <div class="tagline">>
    <p id="p1">Mingle with your <strong>MATES</strong> through <strong>MUSIC</strong></p>
    <p id="p2">Find and Organise a Concert with your <strong>MATES</strong></p>
    <p id="p3">Become a <strong>MUSIC MATE</strong></p>
  </div>
  <%= link_to "Login with Spotify", "#", id:"landing-btn" %>
  <h5>*Spotify account required for MusicMates.</h5>
</div>
