<div id="landing-container">
  <%= render "shared/logo_animated" %>
  <div id="tagline">
    <p id="p1">Find your next gig buddies.</p>
    <%= link_to "Connect Spotify", concerts_path, id:"landing-btn" %>
    <h5>You'll need to be a Spotify user for this app to work!</h5>
  </div>
</div>
