<div id="landing-container">
  <%= render "shared/logo_animated" %>
  <div id="tagline">
    <p id="p1">Find your next gig buddies.</p>
    <%= link_to "Connect Spotify", user_spotify_omniauth_authorize_path, id:"landing-btn" %>
    <h5>*Spotify required</h5>
  </div>
</div>
