<div id="landing-container">
  <%=image_tag "logo.jpg", width: 330 %>
  <p id="p1">An online community based around your music taste.</p>
  <p id="p2">Click below and see what concerts are near you, and meet likeminded music lovers.</p>
  <%= link_to "Poke Me", "#", id:"landing-btn" %>
</div>
