<div id="landing-container" class="container">
  <%=image_tag "mmlogo.png", width: 300, height: 100 %>
  <p>An online community based around your music taste.
  <br>Click below and see what concerts are near you,
   <br>and meet likeminded music lovers.</p>
  <%= link_to "Poke Me", new_user_session_path, class:"btn btn-primary"%>
</div>
