<div class="btn-accept">
  <%= link_to "accept",
    data-controller="sweet-alert"
    data-action="click->sweet-alert#fireModal"
    data-sweet-alert-title-value="You've accepted the invitation!"
    data-sweet-alert-text-value="Get ready to rock your head out!"
    data-sweet-alert-icon-value="success",
    invitation_path(invite, status: 1), data: { turbo_method: :patch }
    %>
</div>
