#page-container {
  position: relative;
  min-height: 100vh;
  margin-top: 80px;
  margin-bottom: 64px;
}

#page-container-concertshow {
  position: relative;
  min-height: calc(100vh - 130px);
  margin-bottom: 64px;
  margin-top: 66px;
}

#page-container-groups {
  position: relative;
  min-height: calc(100vh - 130px);
  margin-bottom: 50px;
  margin-top: 80px;
}

#page-container-groupshow {
  position: relative;
  min-height: calc(100vh - 130px);
  margin-bottom: 64px;
  margin-top: 66px;
}

#page-container-groups-index {
  position: relative;
  min-height: calc(100vh - 144px);
  margin-bottom: 66px;
  margin-top: 80px;
}

#page-container-index {
  position: relative;
  min-height: 100vh;
  margin-top: 80px;
  margin-bottom: 75px;
}

#page-container-chat {
  position: relative;
  min-height: calc(100vh - 100px);
  margin-top: 80px;
  margin-bottom: 0px;
}
//
