.send-btn {
  background-color: $success;
  color: white;
  border: none;
  padding: 5px 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#message_content {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.chatbox-show{
  background: white;
  margin-bottom: 0px;
}
