.chatroom {
  background: white;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 390px;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }
  }
}
