
.footer-musicmates {
  background-color: #2B3A67;
  width: 100%;
  padding: 0;
  bottom: 0px;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  font-size: 22px;
}

.footer-space {
  height: 50px;
  width: 100%;
  background-color: white;
  bottom: 0px;
  position: absolute;
}

#concert-index-footer {
  height: 25px;
  width: 100%;
  background-color: white;
  bottom: 0px;
  margin-bottom: 0;
  padding: 0;
}

#concert-chat-footer {
  height: 35px;
  width: 100%;
  background-color: white;
  bottom: 0px;
  margin-bottom: 0;
  padding: 0;
}

:target {
  color: $success;
}

#target3 {
  position: relative;
}

.button-badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 2px;
  position: absolute;
  top: -4px;
  right: -10px;

}

.make-visible {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
