.footer-musicmates {
  background-color: #2B3A67;
  width: 100%;
  padding: 0;
  bottom: 0px;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
