.navbar-lewagon {
  justify-content: space-between;
  background: #2B3A67;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;
  font-weight: 700;
}

.nav-item .nav-link {
  color: white;
}
