.navbar-lewagon {
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  background: #2B3A67;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;
  font-weight: 700;
}

.navbar-brand:focus {
  color: #00e070;
}

.nav-item .nav-link {
  color: white;
}

.navbar-space {
  height: 66px;
  background-color: #2B3A67;
}
