.show {

  img {
    width: 375px;
    height: 200px;
    object-fit: cover;
    display: block;
  }

  h1 {
    text-align: center;
    color: #2b3a67;
    font-weight: 700;
    margin: 10px auto;
    font-size: 20px;
    width: 80%;
  }
}

#show-h1 {
  margin-top: 23px;
  font-size: 22px;
  font-weight: 700;
}

.show-desc {
  display: flex;
  text-align: center;
  background-color: #2b3a67;
  width: 310px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  p {
    color: white;
    font-size: 12px;
  }
}

.show-create {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
  width: 310px;
  height: 60px;
  padding: 10px;
  background-color: #0eb1d2;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  justify-content: space-around;
  align-items: center;

  .show-detail{
    padding: 3px;
    justify-content: left;
    flex-grow: 1;

    h2 {
      font-weight: 500;
      font-size: 14px;
      color: white;
      margin-bottom: 3px;
    }

    h3 {
      font-size: 12px;
      font-weight: 300;
      color: white;
      margin-bottom: 0;
    }
  }

  .show-emoji {
    width: 65px;
    font-size: 34px;
    text-align: center;
    background-color: #2b3a67;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  }
}

.show-create .btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: normal;
  width: 300px;
  height: 60px;
  margin: 5px auto 5px auto;
}

.show-detail-container {
  display: flex;
  flex-direction: row;
  margin: 17px auto;
  width: 310px;
  height: 60px;
  padding: 10px;
  background-color: #2b3a67;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
  justify-content: space-around;
  align-items: center;

  .show-detail{
    padding: 3px;
    justify-content: left;
    flex-grow: 1;

    h2 {
      font-weight: 500;
      font-size: 14px;
      color: white;
      margin-bottom: 3px;
    }

    h3 {
      font-size: 12px;
      font-weight: 300;
      color: white;
      margin-bottom: 0;
    }
  }

  .show-emoji {
    width: 50px;
    font-size: 34px;
    text-align: center;
  }
}

#show-btn {
  background-color: $success;
  border: 1px solid $success;
  width: 65%;
  text-align: center;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  justify-content: center;
  transition: all 0.33s;
}

#show-btn:active {
  background-color: $success;
  border: 2px solid white;
  transform: scale(1.02);
}

#show-btn-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
