.show {
  img {
    width: 375px;
    height: 200px;
    align-items: center;
    display:block;
  }
  h1 {
    text-align: center;
    font-size: 18;
    color: #2b3a67;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700px;
  }
}

.show-desc {
  display: flex;
  text-align: center;
  background-color: #2b3a67;
  width: 310px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  box-shadow: 3px 3px 7px grey;
  p {
    color: white;
    font-size: 12px;
  }
}

.show-create {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
  width: 310px;
  height: 60px;
  padding: 10px;
  background-color: #0eb1d2;
  border-radius: 16px;
  box-shadow: 3px 3px 7px grey;
  justify-content: space-around;
  align-items: center;
  .show-detail{
    padding: 3px;
    justify-content: left;
    flex-grow: 1;
    h2 {
      font-weight: 500;
      font-size: 14px;
      color: white;
      margin-bottom: 3px;
    }
    h3 {
      font-size: 12px;
      font-weight: 300;
      color: white;
      margin-bottom: 0;
    }
  }
  .show-emoji {
    width: 65px;
    font-size: 34px;
    text-align: center;
    background-color: #2b3a67;
    border-radius: 16px;
    box-shadow: 3px 3px 7px grey;
  }
}

.show-create .btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: normal;
  width: 300px;
  height: 60px;
  margin: 5px auto 5px auto;
}

.show-detail-container {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
  width: 310px;
  height: 60px;
  padding: 10px;
  background-color: #2b3a67;
  border-radius: 16px;
  box-shadow: 3px 3px 7px grey;
  justify-content: space-around;
  align-items: center;
  .show-detail{
    padding: 3px;
    justify-content: left;
    flex-grow: 1;
    h2 {
      font-weight: 500;
      font-size: 14px;
      color: white;
      margin-bottom: 3px;
    }
    h3 {
      font-size: 12px;
      font-weight: 300;
      color: white;
      margin-bottom: 0;
    }
  }
  .show-emoji {
    width: 50px;
    font-size: 34px;
    text-align: center;

  }
}
